hg38.phastCons30way.bw
.venv/pyvenv.cfg
*.pyc
*/__pycache__/
.windowsvenv/
.Rproj.user/
.venv/
.Rproj.user/
.Rhistory
.RData
GTEX-RNAseq/
hg38.phyloP447way.bw
hg38.phyloP100way.bw
hgnc.bb
rna_expression_report_*.tsv
GTEX-RNAseq-raw/